
# Dependencies
# IDE
# Logs
# Misc
# OS
# Production
# Testing
*.log
*.swo
*.swp
*~
.DS_Store
.c9/
.cache
.classpath
.env
.env.*.local
.env.local
.idea/
.next/
.pnp.js
.project
.vercel
.vercel/
.vscode/
/.pnp
/build
/coverage
/dist
Desktop.ini
Thumbs.db
apps/backend/dist
apps/frontend/dist
dist/
logs/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
